@model CalculadoraNash.ViewModels.PacienteViewModel

@using (Html.BeginForm(actionName: "Calcular", controllerName: "Home")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dados do Paciente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.AST, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.AST, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.AST, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.ALT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.ALT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.ALT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.IMC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.IMC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.IMC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.Diabetico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PacienteDados.Diabetico)
                    @Html.ValidationMessageFor(model => model.PacienteDados.Diabetico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.Idade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.Idade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.Idade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.Plaquetas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.Plaquetas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.Plaquetas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteDados.Albumina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PacienteDados.Albumina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PacienteDados.Albumina, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calcular" id="Calcular" class="btn btn-success"/>
                <button type="button" id="Limpar" onclick="Limpar()" class="btn btn-danger">Limpar</button>
            </div>
        </div>

        @*Resultado dos cálculos*@
        <div id="Resultados">
            <div class="row">
                <div class="col-8" id="resultados">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Cálculo</th>
                                <th scope="col">Score</th>
                                <th scope="col">Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PacienteDados.ListaIndices != null)
                            {
                                 foreach (var indice in Model.PacienteDados.ListaIndices)
                                 {
                                    <tr>
                                        <td id="Calculo">@indice.Titulo</td>
                                        <td id="Score">@indice.Score</td>
                                    </tr>

                                 }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}


@section Scripts
{
    <script>

        //$(document).ready(function () {
        //    if ($("#Nome").val() != "") {
        //        $("#Resultados").removeClass("hidden");
        //    }
        //})

        //$("#Calcular").click(function () {

        //    var x = $("[name='DadosPaciente.AST']").val();

        //    if ($("[name='DadosPaciente.AST']").val() != "") {
        //        $("#Resultados").removeClass("hidden");
        //    }
        //})

        //$("#Limpar").click(function () {
        //    $("#Resultados").addClass("hidden");
        //})

    </script>    
}
